/* Подключение:
<link rel="stylesheet" href="/files/styles.css">
*/
body,chem .katex {font-family:Outfit,Fira Code,Fira Code I,"Exo 2",Source Sans Pro,Noto Emoji,"M PLUS 1p",Noto Sans Japanese,Inter}
sq {font-family:square}
bom {font-family:Bomber TV;font-variant-caps:small-caps}
fo {font-family:Foulis}
bo {font-weight:bold}
it {font-style:italic}
un {text-decoration:underline;text-underline-position:under}
lt {text-decoration:line-through}
ov {text-decoration:overline}
sc {font-variant-caps:all-small-caps}
kn {font-kerning:none}
hl {font-size:200%}
hc {display:block;text-align:center;font-size:200%}
tac {display:block;text-align:center}
tar {display:block;text-align:right}
sups {vertical-align:super}
subs {vertical-align:sub}
hr {border:1px solid black}
table {border-collapse:collapse;display:block;overflow:scroll}
td {white-space:nowrap;border:1px solid black}
tai {background-color:rgba(37,37,37,.4);border-radius:3px;user-select:all;white-space:pre;display:inline}
tab {background-color:rgba(37,37,37,.4);border-radius:3px;user-select:all;white-space:pre;display:block;overflow:scroll}
deg180 {transform:rotate(180deg);display:inline-block}
deg90 {transform:rotate(90deg);display:inline-block}
deg270 {transform:rotate(270deg);display:inline-block}
:target {background-color:rgba(221,68,204,.5)}
.material-icons {vertical-align:middle;font-size:90%}
a {text-underline-position:under}
.anchor {vertical-align:super;text-decoration:none;user-select:none}
.vat,[class=vat] td {vertical-align:top}
.toc {display:block;border:1px solid black;background-color:#F7EBDB;padding-top:7px;padding-bottom:7px}
red {color:red}
/*
Интерлиньяж:
line-height
Межбуквенное расстояние:
letter-spacing
*/
/* Нумерованные списки (<ol>) */
@counter-style number_circled {system:fixed;symbols:① ② ③ ④ ⑤ ⑥ ⑦ ⑧ ⑨ ⑩ ⑪ ⑫ ⑬ ⑭ ⑮ ⑯ ⑰ ⑱ ⑲ ⑳ ㉑ ㉒ ㉓ ㉔ ㉕ ㉖ ㉗ ㉘ ㉙ ㉚ ㉛ ㉜ ㉝ ㉞ ㉟ ㊱ ㊲ ㊳ ㊴ ㊵ ㊶ ㊷ ㊸ ㊹ ㊺ ㊻ ㊼ ㊽ ㊾ ㊿;suffix:" "}
.number_circled {list-style-type:number_circled}
@counter-style number_dot {system:fixed;symbols:⒈ ⒉ ⒊ ⒋ ⒌ ⒍ ⒎ ⒏ ⒐ ⒑ ⒒ ⒓ ⒔ ⒕ ⒖ ⒗ ⒘ ⒙ ⒚ ⒛;suffix:" "}
.number_dot {list-style-type:number_dot}
@counter-style number_parenthesis {system:fixed;symbols:"1";suffix:") "}
.number_parenthesis {list-style-type:number_parenthesis}
@counter-style cyrillic_parenthesis {system:alphabetic;symbols:а б в г д е ё ж з и й к л м н о п р с т у ф х ц ч ш щ ъ ы ь э ю я;suffix:") "}
.cyrillic_parenthesis {list-style-type:cyrillic_parenthesis}
@counter-style cyrillic_dot {system:alphabetic;symbols:а б в г д е ё ж з и й к л м н о п р с т у ф х ц ч ш щ ъ ы ь э ю я;suffix:". "}
.cyrillic_dot {list-style-type:cyrillic_dot}
/* Маркированные списки (<ul>) */
.mn {list-style-type:none}
.md {list-style-type:disc}
.check {list-style-type:"✓ "}
.cross {list-style-type:"✕ "}
.bb {list-style-type:"☐ "}
.bbc {list-style-type:"☑ "}
.bbx {list-style-type:"☒ "}
/* Шрифты */
@font-face {
font-family:Outfit;
src:url('/files/fonts/Outfit.ttf');
unicode-range:U+33;
size-adjust:105%;
}
@font-face {
font-family:square;
src:url('/files/fonts/square.ttf');
size-adjust:130%;
}
@font-face {
font-family:"Exo 2";
src:url('/files/fonts/Exo2.ttf');
unicode-range:U+0410-044F,U+0401,U+0451;
}
@font-face {
font-family:Source Sans Pro;
src:url('/files/fonts/SourceSansPro.ttf');
unicode-range:U+b1,U+7c,U+a6,U+2016;
}
@font-face {
font-family:Inter;
src:url('/files/fonts/Inter.ttf');
}
@font-face {
font-family:Fira Code;
src:url('/files/fonts/FiraCode.ttf');
unicode-range:U+6c,U+25e1;
}
@font-face {
font-family:Fira Code I;
src:url('/files/fonts/FiraCode.ttf');
unicode-range:U+49,U+31,U+30;
size-adjust:105.5%;
}
@font-face {
font-family:"M PLUS 1p";
src:url('/files/fonts/MPLUS1p.ttf');
unicode-range:U+2610-2612,U+2715,U+24ea,U+2460-2473,U+3251-325f,U+32b1-32bf;
}
@font-face {
font-family:Bomber TV;
src:url('/files/fonts/BomberTV.otf');
}
@font-face {
font-family:Foulis;
src:url('/files/fonts/Foulis.ttf');
}
@font-face {
font-family:Noto Emoji;
src:url('/files/fonts/NotoEmoji.ttf');
unicode-range:U+2734,U+2139,U+2b05,U+2b06,U+2b07,U+27a1,U+271d,U+2626;
}
@font-face {
font-family:Noto Sans Japanese;
src:url('/files/fonts/NotoSansJP.otf');
unicode-range:U+2295,U+2488-249b,U+24d8;
}
